<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="2" parallel="methods" verbose="2" preserve-order="true" name="SeleniumAdvanceStatic_ThreadLocal">
        <classes>
            <class name="tests.UI.End_to_End_Test">
                <methods>
                    <include name="LogOut"/>
                </methods>
            </class>
            <class name="tests.UI.HeatMapTest">
                <methods>
                    <include name="TestHeatmap"/>
                </methods>
            </class>
            <class name="tests.UI.LoginTest">
                <methods>
                    <include name="PositiveLogin"/>
                    <include name="LogOut"/>
                </methods>
            </class>
            <class name="tests.UI.NegativeLoginTest">
                <methods>
                    <include name="NegetiveLoginvalidation"/>
                </methods>
            </class>
        </classes>
    </test></suite>